@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-5xoPHEO6S5-a_font-family: "Inter", sans-serif;
  --mixin-5xoPHEO6S5-a_font-size: 16px;
  --mixin-5xoPHEO6S5-a_font-weight: 400;
  --mixin-5xoPHEO6S5-a_font-style: normal;
  --mixin-5xoPHEO6S5-a_color: #535353;
  --mixin-5xoPHEO6S5-a_text-align: left;
  --mixin-5xoPHEO6S5-a_text-transform: none;
  --mixin-5xoPHEO6S5-a_line-height: 1.5;
  --mixin-5xoPHEO6S5-a_letter-spacing: normal;
  --mixin-5xoPHEO6S5-a_white-space: pre-wrap;
  --mixin-5xoPHEO6S5-a_user-select: text;
  --mixin-5xoPHEO6S5-a_text-decoration-line: none;
  --mixin-5xoPHEO6S5-a_text-overflow: clip;
  --mixin-Xibaa2fOCCLG_color: #000000;
  --mixin-Xibaa2fOCCLG_font-weight: 700;
  --mixin-Xibaa2fOCCLG_font-size: 64px;
  --mixin-Xibaa2fOCCLG_line-height: 1;
  --mixin-Xibaa2fOCCLG_letter-spacing: -1px;
  --mixin-Xibaa2fOCCLG_white-space: pre-wrap;
  --mixin-grzxrSYaLZyj_color: #000000;
  --mixin-grzxrSYaLZyj_font-size: 48px;
  --mixin-grzxrSYaLZyj_font-weight: 700;
  --mixin-grzxrSYaLZyj_letter-spacing: -0.5px;
  --mixin-grzxrSYaLZyj_line-height: 1.1;
  --mixin-grzxrSYaLZyj_white-space: pre-wrap;
  --mixin-EPOuOeIfXAkr_color: #0070f3;
  --mixin-EPOuOeIfXAkr_white-space: pre-wrap;
  --mixin-s86n2axS1cfr_color: #000000;
  --mixin-s86n2axS1cfr_font-size: 32px;
  --mixin-s86n2axS1cfr_font-weight: 600;
  --mixin-s86n2axS1cfr_line-height: 1.2;
  --mixin-s86n2axS1cfr_white-space: pre-wrap;
  --mixin-M12g2wx0RFsg_color: #000000;
  --mixin-M12g2wx0RFsg_font-size: 24px;
  --mixin-M12g2wx0RFsg_font-weight: 600;
  --mixin-M12g2wx0RFsg_line-height: 1.3;
  --mixin-M12g2wx0RFsg_white-space: pre-wrap;
  --mixin--0lPwWXjOXdi_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--0lPwWXjOXdi_border-bottom-color: #dddddd;
  --mixin--0lPwWXjOXdi_border-bottom-style: solid;
  --mixin--0lPwWXjOXdi_border-bottom-width: 1px;
  --mixin--0lPwWXjOXdi_border-left-color: #dddddd;
  --mixin--0lPwWXjOXdi_border-left-style: solid;
  --mixin--0lPwWXjOXdi_border-left-width: 1px;
  --mixin--0lPwWXjOXdi_border-right-color: #dddddd;
  --mixin--0lPwWXjOXdi_border-right-style: solid;
  --mixin--0lPwWXjOXdi_border-right-width: 1px;
  --mixin--0lPwWXjOXdi_border-top-color: #dddddd;
  --mixin--0lPwWXjOXdi_border-top-style: solid;
  --mixin--0lPwWXjOXdi_border-top-width: 1px;
  --mixin--0lPwWXjOXdi_border-bottom-left-radius: 3px;
  --mixin--0lPwWXjOXdi_border-bottom-right-radius: 3px;
  --mixin--0lPwWXjOXdi_border-top-left-radius: 3px;
  --mixin--0lPwWXjOXdi_border-top-right-radius: 3px;
  --mixin--0lPwWXjOXdi_font-family: "Inconsolata";
  --mixin--0lPwWXjOXdi_padding-bottom: 1px;
  --mixin--0lPwWXjOXdi_padding-left: 4px;
  --mixin--0lPwWXjOXdi_padding-right: 4px;
  --mixin--0lPwWXjOXdi_padding-top: 1px;
  --mixin--0lPwWXjOXdi_white-space: pre-wrap;
  --mixin-BLjC8SSgQEj-_border-left-color: #dddddd;
  --mixin-BLjC8SSgQEj-_border-left-style: solid;
  --mixin-BLjC8SSgQEj-_border-left-width: 3px;
  --mixin-BLjC8SSgQEj-_color: #888888;
  --mixin-BLjC8SSgQEj-_padding-left: 10px;
  --mixin-BLjC8SSgQEj-_white-space: pre-wrap;
  --mixin-EXC1HKzSmVB1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-EXC1HKzSmVB1_border-bottom-color: #dddddd;
  --mixin-EXC1HKzSmVB1_border-bottom-style: solid;
  --mixin-EXC1HKzSmVB1_border-bottom-width: 1px;
  --mixin-EXC1HKzSmVB1_border-left-color: #dddddd;
  --mixin-EXC1HKzSmVB1_border-left-style: solid;
  --mixin-EXC1HKzSmVB1_border-left-width: 1px;
  --mixin-EXC1HKzSmVB1_border-right-color: #dddddd;
  --mixin-EXC1HKzSmVB1_border-right-style: solid;
  --mixin-EXC1HKzSmVB1_border-right-width: 1px;
  --mixin-EXC1HKzSmVB1_border-top-color: #dddddd;
  --mixin-EXC1HKzSmVB1_border-top-style: solid;
  --mixin-EXC1HKzSmVB1_border-top-width: 1px;
  --mixin-EXC1HKzSmVB1_border-bottom-left-radius: 3px;
  --mixin-EXC1HKzSmVB1_border-bottom-right-radius: 3px;
  --mixin-EXC1HKzSmVB1_border-top-left-radius: 3px;
  --mixin-EXC1HKzSmVB1_border-top-right-radius: 3px;
  --mixin-EXC1HKzSmVB1_font-family: "Inconsolata";
  --mixin-EXC1HKzSmVB1_padding-bottom: 3px;
  --mixin-EXC1HKzSmVB1_padding-left: 6px;
  --mixin-EXC1HKzSmVB1_padding-right: 6px;
  --mixin-EXC1HKzSmVB1_padding-top: 3px;
  --mixin-EXC1HKzSmVB1_white-space: pre-wrap;
  --mixin-am8GHGYK-j6X_display: flex;
  --mixin-am8GHGYK-j6X_flex-direction: column;
  --mixin-am8GHGYK-j6X_align-items: stretch;
  --mixin-am8GHGYK-j6X_justify-content: flex-start;
  --mixin-am8GHGYK-j6X_list-style-position: outside;
  --mixin-am8GHGYK-j6X_padding-left: 40px;
  --mixin-am8GHGYK-j6X_position: relative;
  --mixin-am8GHGYK-j6X_list-style-type: disc;
  --mixin-am8GHGYK-j6X_white-space: pre-wrap;
  --mixin-g6XUBdEH1OD8_display: flex;
  --mixin-g6XUBdEH1OD8_flex-direction: column;
  --mixin-g6XUBdEH1OD8_align-items: stretch;
  --mixin-g6XUBdEH1OD8_justify-content: flex-start;
  --mixin-g6XUBdEH1OD8_list-style-position: outside;
  --mixin-g6XUBdEH1OD8_padding-left: 40px;
  --mixin-g6XUBdEH1OD8_position: relative;
  --mixin-g6XUBdEH1OD8_list-style-type: decimal;
  --mixin-g6XUBdEH1OD8_white-space: pre-wrap;
  --mixin-Q2mWbFSmNk3Q_color: #000000;
  --mixin-Q2mWbFSmNk3Q_font-size: 20px;
  --mixin-Q2mWbFSmNk3Q_font-weight: 600;
  --mixin-Q2mWbFSmNk3Q_line-height: 1.5;
  --mixin-Q2mWbFSmNk3Q_white-space: pre-wrap;
  --mixin-fVRpq5WHP4V5_color: #000000;
  --mixin-fVRpq5WHP4V5_font-size: 16px;
  --mixin-fVRpq5WHP4V5_font-weight: 600;
  --mixin-fVRpq5WHP4V5_line-height: 1.5;
  --mixin-fVRpq5WHP4V5_white-space: pre-wrap;
  --mixin-NbZUoeSd5jtY_color: #3291ff;
  --mixin-NbZUoeSd5jtY_white-space: pre-wrap;
  --mixin-Vfl-q3No2jpY_white-space: pre-wrap;
  --mixin-F7_uPAbptREQ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5xoPHEO6S5-a_font-family);
  font-size: var(--mixin-5xoPHEO6S5-a_font-size);
  font-weight: var(--mixin-5xoPHEO6S5-a_font-weight);
  font-style: var(--mixin-5xoPHEO6S5-a_font-style);
  color: var(--mixin-5xoPHEO6S5-a_color);
  text-align: var(--mixin-5xoPHEO6S5-a_text-align);
  text-transform: var(--mixin-5xoPHEO6S5-a_text-transform);
  line-height: var(--mixin-5xoPHEO6S5-a_line-height);
  letter-spacing: var(--mixin-5xoPHEO6S5-a_letter-spacing);
  white-space: var(--mixin-5xoPHEO6S5-a_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Xibaa2fOCCLG_color);
  font-weight: var(--mixin-Xibaa2fOCCLG_font-weight);
  font-size: var(--mixin-Xibaa2fOCCLG_font-size);
  line-height: var(--mixin-Xibaa2fOCCLG_line-height);
  letter-spacing: var(--mixin-Xibaa2fOCCLG_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-grzxrSYaLZyj_color);
  font-size: var(--mixin-grzxrSYaLZyj_font-size);
  font-weight: var(--mixin-grzxrSYaLZyj_font-weight);
  letter-spacing: var(--mixin-grzxrSYaLZyj_letter-spacing);
  line-height: var(--mixin-grzxrSYaLZyj_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-EPOuOeIfXAkr_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-s86n2axS1cfr_color);
  font-size: var(--mixin-s86n2axS1cfr_font-size);
  font-weight: var(--mixin-s86n2axS1cfr_font-weight);
  line-height: var(--mixin-s86n2axS1cfr_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-M12g2wx0RFsg_color);
  font-size: var(--mixin-M12g2wx0RFsg_font-size);
  font-weight: var(--mixin-M12g2wx0RFsg_font-weight);
  line-height: var(--mixin-M12g2wx0RFsg_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--0lPwWXjOXdi_font-family);
  border-radius: var(--mixin--0lPwWXjOXdi_border-top-left-radius)
    var(--mixin--0lPwWXjOXdi_border-top-right-radius)
    var(--mixin--0lPwWXjOXdi_border-bottom-right-radius)
    var(--mixin--0lPwWXjOXdi_border-bottom-left-radius);
  padding: var(--mixin--0lPwWXjOXdi_padding-top)
    var(--mixin--0lPwWXjOXdi_padding-right)
    var(--mixin--0lPwWXjOXdi_padding-bottom)
    var(--mixin--0lPwWXjOXdi_padding-left);
  border-top: var(--mixin--0lPwWXjOXdi_border-top-width)
    var(--mixin--0lPwWXjOXdi_border-top-style)
    var(--mixin--0lPwWXjOXdi_border-top-color);
  border-right: var(--mixin--0lPwWXjOXdi_border-right-width)
    var(--mixin--0lPwWXjOXdi_border-right-style)
    var(--mixin--0lPwWXjOXdi_border-right-color);
  border-bottom: var(--mixin--0lPwWXjOXdi_border-bottom-width)
    var(--mixin--0lPwWXjOXdi_border-bottom-style)
    var(--mixin--0lPwWXjOXdi_border-bottom-color);
  border-left: var(--mixin--0lPwWXjOXdi_border-left-width)
    var(--mixin--0lPwWXjOXdi_border-left-style)
    var(--mixin--0lPwWXjOXdi_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-BLjC8SSgQEj-_color);
  padding-left: var(--mixin-BLjC8SSgQEj-_padding-left);
  border-left: var(--mixin-BLjC8SSgQEj-_border-left-width)
    var(--mixin-BLjC8SSgQEj-_border-left-style)
    var(--mixin-BLjC8SSgQEj-_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-EXC1HKzSmVB1_font-family);
  border-radius: var(--mixin-EXC1HKzSmVB1_border-top-left-radius)
    var(--mixin-EXC1HKzSmVB1_border-top-right-radius)
    var(--mixin-EXC1HKzSmVB1_border-bottom-right-radius)
    var(--mixin-EXC1HKzSmVB1_border-bottom-left-radius);
  padding: var(--mixin-EXC1HKzSmVB1_padding-top)
    var(--mixin-EXC1HKzSmVB1_padding-right)
    var(--mixin-EXC1HKzSmVB1_padding-bottom)
    var(--mixin-EXC1HKzSmVB1_padding-left);
  border-top: var(--mixin-EXC1HKzSmVB1_border-top-width)
    var(--mixin-EXC1HKzSmVB1_border-top-style)
    var(--mixin-EXC1HKzSmVB1_border-top-color);
  border-right: var(--mixin-EXC1HKzSmVB1_border-right-width)
    var(--mixin-EXC1HKzSmVB1_border-right-style)
    var(--mixin-EXC1HKzSmVB1_border-right-color);
  border-bottom: var(--mixin-EXC1HKzSmVB1_border-bottom-width)
    var(--mixin-EXC1HKzSmVB1_border-bottom-style)
    var(--mixin-EXC1HKzSmVB1_border-bottom-color);
  border-left: var(--mixin-EXC1HKzSmVB1_border-left-width)
    var(--mixin-EXC1HKzSmVB1_border-left-style)
    var(--mixin-EXC1HKzSmVB1_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-am8GHGYK-j6X_display);
  flex-direction: var(--mixin-am8GHGYK-j6X_flex-direction);
  align-items: var(--mixin-am8GHGYK-j6X_align-items);
  justify-content: var(--mixin-am8GHGYK-j6X_justify-content);
  list-style-position: var(--mixin-am8GHGYK-j6X_list-style-position);
  padding-left: var(--mixin-am8GHGYK-j6X_padding-left);
  position: var(--mixin-am8GHGYK-j6X_position);
  list-style-type: var(--mixin-am8GHGYK-j6X_list-style-type);
  column-gap: var(--mixin-am8GHGYK-j6X_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-g6XUBdEH1OD8_display);
  flex-direction: var(--mixin-g6XUBdEH1OD8_flex-direction);
  align-items: var(--mixin-g6XUBdEH1OD8_align-items);
  justify-content: var(--mixin-g6XUBdEH1OD8_justify-content);
  list-style-position: var(--mixin-g6XUBdEH1OD8_list-style-position);
  padding-left: var(--mixin-g6XUBdEH1OD8_padding-left);
  position: var(--mixin-g6XUBdEH1OD8_position);
  list-style-type: var(--mixin-g6XUBdEH1OD8_list-style-type);
  column-gap: var(--mixin-g6XUBdEH1OD8_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Q2mWbFSmNk3Q_color);
  font-size: var(--mixin-Q2mWbFSmNk3Q_font-size);
  font-weight: var(--mixin-Q2mWbFSmNk3Q_font-weight);
  line-height: var(--mixin-Q2mWbFSmNk3Q_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-fVRpq5WHP4V5_color);
  font-size: var(--mixin-fVRpq5WHP4V5_font-size);
  font-weight: var(--mixin-fVRpq5WHP4V5_font-weight);
  line-height: var(--mixin-fVRpq5WHP4V5_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-NbZUoeSd5jtY_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
